.vs/
x64/
/packages/directxtex_desktop_win10.2022.3.24.1
/packages/directxtk_desktop_win10.2022.3.24.2
/build
/imgui.ini
/.cache
compile_commands.json
out/

/.idea
/cmake-build-debug
/log.txt
/build-debug
/cmake-build-debug-visual-studio
